---
layout: null
sitemap: false
---

$nav-width: 320px;
$mobile-break: 700px;

$color-brand: #d92526;
$color-link: #1eaedb;
$color-off-black: #474a54;
$color-border: #ddd;
$color-border-dark: #555;

$color-white: #fff;
$color-black: #000;
$color-description: #aaa;
$color-sidebar-light: #777;
$color-sidebar-dark: #888;

// Background colors
$color-bg-light: #f7f7f7;
$color-bg-dark: #232323;
$color-bg-nav: #fbfbfb;

// Method colors
$color-get: #66bb6a;
$color-post: #42a5f5;
$color-put: #7e57c2;
$color-patch: #ea526f;
$color-delete: #ff7043;

// Status colors
$color-info: #56adec;
$color-error: #f20;
$color-success: #6c0;
$color-warning: #fd0;


@import "mixins";
@import "main";
@import "borland";
@import "monaki";
