{% for collection in sorted_collections %}
  {% assign filtered_docs = collection.docs | where_exp:"item", "item.visibility != excluded_visibility" %}
  {% assign sorted_docs = filtered_docs | sort: "position" %}
  {% for doc in sorted_docs %}
    <section class="doc-content">
      <section class="left-docs">
        <h3>
          <a id="{{ doc.id | replace: '/', '' | replace: '.', '' }}">
            {% if doc.method %}
              <span class="endpoint {{ doc.method }}"></span>
            {% endif %}
            {{ doc.title }}
          </a>
        </h3>
        {% if doc.description %}
          <p class="description">{{doc.description}}</p>
        {% endif %}

        {{ doc.content | replace: "<dl>", "<h6>Parameters</h6><dl>" }}
      </section>

      {% if doc.right_code %}
        <section class="right-code">
          {{ doc.right_code | markdownify }}
        </section>
      {% endif %}
    </section>
  {% endfor %}
{% endfor %}
