<!-- begin setting filtered collections -->
{% if page.path == 'v1.html' %}
  {% assign visibility = 'v1' %}
{% elsif page.path == 'internal.html' %}
  {% assign visibility = 'internal' %}
{% elsif page.path == 'v1_internal.html' %}
  {% assign visibility = 'v1-internal' %}
{% else %}
  {% assign visibility = 'public' %}
{% endif %}
{% assign filtered_collections = site.collections | where_exp:"item", "item.visibility == visibility" %}
{% assign sorted_collections = filtered_collections | sort: "position" %}
<!-- end setting filtered collections -->
