<!-- begin setting filtered collections -->
{% if page.path == 'file-specs.html' %}
  {% assign visibility = 'file-specs' %}
  {% assign filtered_collections = site.collections | where_exp:"item", "item.visibility == visibility" %}
{% elsif page.path == 'knowledgebase.html' %}
  {% assign visibility = 'knowledgebase' %}
  {% assign filtered_collections = site.collections | where_exp:"item", "item.visibility == visibility" %}
{% else %}
  {% if page.path == 'internal.html' %}
    {% assign visibility = 'internal' %}
  {% else %}
    {% assign visibility = 'public' %}
  {% endif %}

  {% assign filtered_collections = "" | split,"" %}
  {% for collection in site.collections %}
    {% if collection.visibility contains "all" or collection.visibility contains visibility %}
      {% assign filtered_collections = filtered_collections | push:collection %}
    {% endif %}
  {% endfor %}

{% endif %}
{% assign sorted_collections = filtered_collections | sort: "position" %}
<!-- end setting filtered collections -->
