{% include filtered_collections.html %}
<div id="sidebar" class="sidebar">
  {% for collection in sorted_collections %}
    {% if collection.label != "posts" %}
      <section>
        <h6> {{ collection.title }} </h6>
        <ul {% if collection.type %}class="{{ collection.type }}"{% endif %}>
          {% if collection.type == 'api' %}
            <li class="api-key">
              <span class="endpoint GET">GET</span>
              <span class="endpoint POST">POST</span>
              <span class="endpoint PUT">PUT</span>
              <span class="endpoint PATCH">PATCH</span>
              <span class="endpoint DELETE">DELETE</span>
            </li>
          {% endif %}
          {% include filtered_docs.html %}
          {% for doc in sorted_docs %}
            <li>
              <a
                {% if doc.method %}class="{{ doc.method }}"{% endif %}
                href="#{{ doc.id | replace: '/', '' | replace: '.', ''}}"
              >
                {% if doc.name %}<span class="name">{{ doc.name }}</span>{% endif %}
                {% if doc.method %}<span class="endpoint {{ doc.method }}">{{ doc.method }}</span>{% endif %}
                {% if doc.title %}<span class="title">{{ doc.title }}</span>{% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  {% endfor %}
</div>
